<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CSS Garden of Good and Evil</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  {{{body}}}
</html>
