<div class="{{{color}}}">
<h1>CSS Garden of Good and Evil</h1>

<div>
  Favorite color: {{{color}}}
</div>

<div>
  <form action="/" method="post">

    <label>Favorite Color: </label>

    <select name="color">
      <option value="blue">Blue</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="purple">Purple</option>
    </select>

    <input type="submit" method="post">
  </form>
</div>
</div>
